html{
    height: 100% !important;
    font-family: cursive;
}

body{
    height: 100% !important;
    background-color: #FFBB4E;
    margin: 0.4rem 0rem 0rem 0rem !important;
}

.mobile-header{
    display: none;
    color: white;
    text-align: center;
    margin-top: -0.5rem;
    padding: 0rem;
    margin-left: 0rem !important;
    position: fixed;
    background-color: #BC2026;
    width: 100%;
    height: 2.3rem;
    padding-top: 0.6rem;
    z-index: 499;
    box-shadow: 0rem 0.1rem 2rem black;
}

.mobile-header p{
    margin: auto;
}

.cabecalho{
    background-color: #BC2026;
    width: 100%;
    overflow: auto;
}

.logomarca {
    background-color: transparent;
    height: 7rem;
    margin-left: 0.8rem;
    width: 21.838rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.apresentacao {
    color: #dcdcdc;
    font-size: 2rem;
    text-align: center;
    width: 18.5rem;
    float: left;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 2.4rem;
    margin-bottom: 0rem;
}

.navbar{
    background-color: #BC2026;
    width: auto;
    text-align: center;
    overflow: auto;
    z-index: 501;
    box-shadow: 0.1rem 0.1rem 2rem 0rem black;
}

.menu-item {
    width: 17%;
    float: left;
    height: 3rem;
    display: block;
    margin: auto;
    padding: 0.2rem 1rem 0.2rem 1rem;
    cursor: pointer;
    overflow: hidden;
    color: white;
}

.menu-toggle-next-btn{
    cursor: pointer;
    display: none;
    color: white;
    text-align: left !important;
    margin-top: -0.5rem;
    padding: 0rem;
    margin-left: 0rem !important;
    position: fixed;
    background-color: #BC2026;
    width: 3rem;
    height: 2.3rem;
    padding-top: 0.6rem;
    padding-left: 0.6rem;
    z-index: 500;
}

.menu-toggle-next-btn img {
    height: 1.5rem;
    width: 1.55rem;
    margin-top: 0.25rem;
    margin-left: 0.2rem;
}

.menu-toggle-btn{
    display: none;
    cursor: pointer;
    text-align: right;
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    color: white;
}

.carimbo-desconto {
    width: auto;
    background-color: #E4272E;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.galeria{
    width: 85%;
    margin: auto;
    margin-top: 0.4rem;
}

.oquedizem {
    color: #7E5336;
    text-align: center;
    font-size: 2rem;
    font-family: 'Cookie', cursive;
}

.dizeres{
    width: 85%;
    margin: auto;
}

.dizer{
    width: 17rem;
    background-color: #FFD491;
    margin-right: 1rem;
    padding: 2rem;
    height: 13rem !important;
}

.dizer .frase {
    font-size: 1rem;
    text-align: center;
}

.dizer .assinatura {
    font-size: 0.8rem;
    color: gray;
    text-align: right;
    margin-right: 0.4rem;
}

.social {
    font-size: 2rem;
    text-align: center;
    font-family: 'Cookie', cursive;
}

.social p {
    margin-bottom: 1rem;
}

.social a {
    margin-right: 1rem;
}

.social .facebook {
    text-decoration: none;
    color: #FFD491;
}

.social .facebook:hover {
    text-decoration: none;
    color: #3B5998;
}

.social .twitter {
    text-decoration: none;
    color: #FFD491;
}

.social .twitter:hover {
    text-decoration: none;
    color: #1DA1F2;
}

.social .instagram {
    text-decoration: none;
    color: #FFD491;
}

.social .instagram:hover {
    text-decoration: none;
    color: #DF3968;
}

.social .whatsapp {
    text-decoration: none;
    color: #FFD491;
}

.social .whatsapp:hover {
    text-decoration: none;
    color: #2CC64E;
}

.rodape-endereco{
    width: 100%;
    margin: auto;
    background-color: white;
    text-align: center;
    color: black;
    overflow: auto;
}

.rodape-endereco .texto{
    margin-top: 1rem;
    border-bottom: 0.1rem dotted black;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 0.1rem;
}

.rodape-endereco .consideracoes{
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 0rem;
}

.rodape-endereco .consideracoes a{
    text-decoration: none;
    cursor: pointer;
    color: gray;
}

.rodape-endereco .consideracoes a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #cdcdcd;
}

@media screen and (min-width: 1351px) {
    .navbar{
        display: block;
        position: relative;
    }

    .menu-item{
        border-left: 0.2rem solid honeydew;
        border-bottom: none;
    }
}

@media screen and (min-width: 425px) {
    .oquedizem {
        font-size: 2.55rem;
    }

    .dizer .frase {
        font-size: 1.5rem;
    }

    .dizer .assinatura {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1350px) {
    .navbar{
        width: 14.5rem;
        display: none;
        position: fixed;
        top: 0.5rem;
    }
	
	.mobile-header{
		display: block;
	}

    .cabecalho{
        padding-top: 2.3rem;
    }

    .menu-item {
        width: 12.5rem;
        border-bottom: 0.2rem solid honeydew;
        border-left: none;
    }

    .menu-toggle-btn, .menu-toggle-next-btn{
        display: block;
    }

    .carimbo-desconto {
        font-size: 1.5rem;
        padding: 0.7rem;
    }

    .cadastro{
        width: auto;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
}

@media screen and (max-width: 440px) {
    .apresentacao{
        width: 97% !important;
    }
}

@media screen and (max-width: 592px) {
    .logomarca {
        margin-right: 0.8rem;
        width: 100%;
    }

    .apresentacao {
        width: 100%;
    }
}